@page
@using Microsoft.AspNetCore.Authentication
@using MHAuthorWebsite.Web.Utils
@model LoginModel

@{
	ViewData["Title"] = "Вход";
}

@section Styles {
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
}

<div class="page-wrapper flex-column">
	<section class="modal flex-column">
		<h1 class="title">@ViewData["Title"]</h1>
		<form id="account" method="post" class="input-form flex-column">
			<div asp-validation-summary="ModelOnly" role="alert" class="input-error"></div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Input.Email">Имейл адрес</label>
				<input class="form-input" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
				<span class="input-error" asp-validation-for="Input.Email"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Input.Password">Парола</label>
				<input class="form-input" asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" />
				<span class="input-error" asp-validation-for="Input.Password"></span>
			</div>
			<div>
				<label class="form-label" asp-for="Input.RememberMe">
					<input asp-for="Input.RememberMe" />
					Запомни ме?
				</label>
			</div>
			<button data-trigger="load-unlimited" id="login-submit" type="submit" class="btn submit-btn flex-row">
				<i class="fa-solid fa-arrow-right-to-bracket"></i> Влез
			</button>

			<div class="form-box flex-column actions">
				<p>
					<a data-trigger="load-unlimited" class="link active italic" id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
				</p>
				<p>
					<a data-trigger="load-unlimited" class="link active italic" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Нямаш профил? Регистрирай се!</a>
				</p>
			</div>
		</form>

		@if ((Model.ExternalLogins?.Count ?? 0) != 0)
		{
			<div class="flex-column">
				<h3 class="subheading">Вход с външен акаунт</h3>
				<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="input-form flex-column">
					<div class="flex-row center">
						@foreach (AuthenticationScheme provider in Model.ExternalLogins!)
						{
							string iconPath = OAuthProviderMapper.ProviderIcons.TryGetValue(provider.Name, out string? path)
							? path
							: "";

							<button type="submit" class="btn submit-btn @(string.IsNullOrEmpty(iconPath) ? "" : "btn-none") flex-row" name="provider" value="@provider.Name" title="Влез в системата с @provider.DisplayName акаунт">
								<img src="@Url.Content(iconPath)" alt="" class="icon" />
								@(iconPath == string.Empty ? provider.DisplayName : "")
							</button>
						}
					</div>
				</form>
			</div>
		}
	</section>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
