@using static MHAuthorWebsite.GCommon.ApplicationRules.Econt
@using static MHAuthorWebsite.GCommon.ApplicationRules.Application
@using MHAuthorWebsite.Web.ViewModels.Order
@model OrderDetailsViewModel

@{
	ViewData["Title"] = "Завършване на поръчка";
}

@section Styles {
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.3/dist/sweetalert2.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/elements/notification.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />
}

<section class="page-wrapper flex-column">
	<h1 class="title">@ViewData["Title"]</h1>
	<div class="content flex-row">
		<section class="main-content flex-column">
			<section class="section flex-column">
				<h2 class="heading flex-row"><i class="fa-regular fa-bags-shopping"></i> Вашата поръчка</h2>

				<table class="cart-table">
					<thead>
						<tr>
							<th>Продукт</th>
							<th>Количество</th>
							<th>Обща цена</th>
						</tr>
					</thead>
					<tbody id="cart-body">
						@foreach (SelectedProductViewModel p in Model.SelectedProducts)
						{
							<tr data-total-price="@p.TotalPrice" data-weight="@p.Weight">
								<td class="flex-row">
									<div class="product-image-container flex-row">

										<img class="product-image" src="@p.ImageUrl" alt="@p.Name" />
									</div>
									<p class="product-name">@p.Name</p>
								</td>
								<td>@p.Quantity</td>
								<td><span>@p.TotalPrice.ToString("F2")</span> <span>лв.</span></td>
							</tr>
						}
					</tbody>
				</table>
			</section>

			<section class="section flex-column">
				<h2 class="heading flex-row"><i class="fa-regular fa-money-check-dollar-pen"></i> Метод на плащане</h2>
				<div>
					<div>
						<label><input type="radio" name="paymentMethod" value="cod" checked /> Наложен платеж</label>
					</div>
				</div>
			</section>

			<section class="section flex-column">
				<h2 class="heading flex-row"><i class="fa-regular fa-person-dolly"></i> Куриер</h2>
				<div>
					<div>
						<label><input type="radio" value="econt" checked /> Еконт</label>
					</div>
				</div>
				<div class="econt-delivery">
					<iframe id="econt-frame" src=""></iframe>
				</div>
			</section>
		</section>

		<section class="section total-section flex-column">
			<h2 class="heading flex-row"><i class="fa-regular fa-money-bill-1-wave"></i> Дължима сума</h2>
			<div>
				<p>Междинна сума: <span id="subtotal">@Model.Subtotal.ToString("F2")</span> <span>лв.</span></p>
				<p>Доставка: <span id="shipping">0.00</span> <span>лв.</span></p>
				<p class="grand-total"><strong>Общо: <span id="grand">@Model.Subtotal.ToString("F2")</span> <span>лв.</span></strong></p>
			</div>

			<form id="confirm-form" class="flex-row" method="post" asp-controller="Order"
				  asp-action="Order"
			      data-econt-calc-url="@ShipmentCalcUrl"
			      data-econt-update-endpoint="@UpdateOrderEndpoint"
			      data-currency="@Currency"
			      data-shop-id="@ShopId"
			      data-total-weight="@Model.TotalWeight"
			      data-user-name="@Model.UserData.Name"
			      data-user-email="@Model.UserData.Email"
			      data-user-phone="@Model.UserData.PhoneNumber">

				<button type="submit" class="btn order flex-row" id="placeOrderBtn"><i class="fa-regular fa-truck-fast"></i> Поръчай</button>
			</form>
		</section>
	</div>
</section>

@section Scripts {
	<script type="module" src="~/js/notification.js" asp-append-version="true"></script>
	<script type="module" src="~/js/order.js" asp-append-version="true"></script>
}