@using MHAuthorWebsite.Web.ViewModels.Order
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static MHAuthorWebsite.GCommon.ApplicationRules.Application
@model ICollection<MyOrdersViewModel>
@{
	ViewData["Title"] = "Вашите поръчки";
	Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

@section Styles {
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/profile/my-orders.css" />
}


<section class="content-body flex-column">
	<h2 class="heading">@ViewData["Title"]</h2>

	<div class="orders-list flex-column">
		@if (Model.Any())
		{
			foreach (MyOrdersViewModel order in Model)
			{
				<div class="order-card flex-column">
					<div class="order-info flex-row">
						<div class="flex-row">
							@foreach (MyOrdersOrderProductViewModel product in order.Products)
							{
								<div class="product-image-box">
									<img src="@product.ImageUrl" alt="" />
									<div class="quantity-badge">@product.Quantity x</div>
								</div>
							}
						</div>
						<div class="order-actions">
							<a asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@order.OrderId" class="btn link btn-details flex-row">
								<i class="fa-solid fa-memo-circle-info"></i>
								Детайли
							</a>
						</div>
					</div>
					<hr/>
					<article class="order-summary flex-row">
						<p><strong>№</strong> @order.OrderId</p>
						<p><strong>Брой артикули:</strong> @order.Products.Sum(p => p.Quantity)</p>
						<p><strong>Дата:</strong> @order.CreatedAt.ToShortDateString()</p>
						<p><strong>Статус:</strong> @order.Status</p>
						<p><strong>Общо:</strong> @order.Total.ToString("F2") @Currency</p>
					</article>
				</div>
			}
		}
		else
		{
			<p>Нямате поръчки все още.</p>
		}
	</div>
</section>