@using MHAuthorWebsite.Web.ViewModels.Order
@using static MHAuthorWebsite.GCommon.ApplicationRules.Application
@using MHAuthorWebsite.Data.Models.Enums
@using MHAuthorWebsite.Data.Common.Extensions
@using MHAuthorWebsite.Web.ViewModels.Shared
@model OrderDetailsViewModel

@{
	ViewData["Heading"] = $"Поръчка № {Model.OrderId}";
	Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

@section Styles {
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/profile/order-details.css" asp-append-version="true" />
}

@section Heading
{
	<div class="section-heading flex-row">
		<h3 class="title-small visible">@ViewData["Heading"]</h3>
		<p class="status-message"><strong>@Model.Status</strong></p>
	</div>
}

<section class="content-body flex-column">
	@if (Model.Status == OrderStatus.Rejected.GetDisplayName())
	{
		WarningViewModel message = new()
		{
			Message = "За съжаление, вашата поръчка е отказана и няма да бъде доставена. Ако имате въпроси или нужда от допълнителна информация, моля свържете се с нас!"
		};

		<partial name="_WarningMessage" model="message" />

	}
	@if (Model.Status == OrderStatus.Terminated.GetDisplayName())
	{
		WarningViewModel message = new()
		{
			Message = "За съжаление, вашата поръчка е прекратена и няма да бъде доставена окончателно. Ако имате въпроси или нужда от допълнителна информация, моля свържете се с нас!"
		};

		<partial name="_WarningMessage" model="message" />
	}
	<section class="info-section flex-row">
		<article class="order-summary">
			<h4 class="heading">Основна информация</h4>
			<p><strong>№</strong> @Model.OrderId</p>
			<p><strong>Дата на поръчка:</strong> @Model.OrderDate.ToString("dd MMM yyyy, HH:mm ч.")</p>
			<p><strong>Обща стойност:</strong> @((Model.Products.Sum(p => p.Quantity * p.UnitPrice) + Model.Shipment.ShippingPrice).ToString("F2")) @Currency</p>
			<p><strong>Статус: </strong>@Model.Status</p>
		</article>

		<article class="courier-info">
			<h4 class="heading">Информация за доставка</h4>
			<p><strong>Куриер:</strong> @Model.Shipment.CourierName</p>
			<p><strong>Лице:</strong> @Model.Shipment.Face | @Model.Shipment.Phone | @Model.Shipment.Email</p>
			@if (!string.IsNullOrWhiteSpace(Model.Shipment.Address))
			{
				<p><strong>Адрес:</strong> @Model.Shipment.Address, @Model.Shipment.City, @Model.Shipment.PostCode</p>
			}

			<p><strong>Цена на доставка:</strong> @Model.Shipment.ShippingPrice @Model.Shipment.Currency</p>
			<p><strong>Очаквана доставка:</strong> @Model.Shipment.ExpectedDeliveryDate.ToString("dd MMM yyyy")</p>

		</article>
	</section>

	<section class="tracking-events">
		<h4 class="heading">Проследи пратка</h4>
		@if (Model.Shipment.TrackingEvents.Any())
		{
			<ul class="tracking-list">
				@foreach (OrderShipmentEventViewModel ev in Model.Shipment.TrackingEvents)
				{
					<li class="tracking-row flex-row">
						<span class="tracking-dot"></span>
						<p class="tracking-text">
							<strong>@ev.Time.ToString("dd MMM HH:mm"):</strong>
							@if (!string.IsNullOrWhiteSpace(ev.DestinationDetails))
							{
								<span> @ev.DestinationDetails</span>
							}
							@if (!string.IsNullOrWhiteSpace(ev.OfficeName))
							{
								<span> (@ev.OfficeName)</span>
							}
							@if (!string.IsNullOrWhiteSpace(ev.CityName))
							{
								<span>, @ev.CityName</span>
							}
						</p>

					</li>
				}
			</ul>
		}
		else
		{
			<p>Няма актуализации за проследяване.</p>
		}
	</section>
	
	<section class="ordered-products">
		<h4 class="heading">Продукти</h4>
		<div class="flex-row">
			@foreach (OrderProductDetailsViewModel product in Model.Products)
			{
				<div class="product-item">
					<div class="product-image-box">
						<img src="@product.ImageUrl" alt="" />
						<div class="quantity-badge">@(product.Quantity)x</div>
					</div>
					<p><strong>@product.ProductName</strong></p>
					<p>Ед. цена: @product.UnitPrice.ToString("F2")</p>
				</div>
			}
		</div>
	</section>
</section>