@using MHAuthorWebsite.Web.ViewModels.Admin.Dashboard
@using static MHAuthorWebsite.GCommon.ApplicationRules.DataCollection;
@model AdminDashboardViewModel

@{
	ViewData["Title"] = "Табло за управление";
	ViewData["CurrentPage"] = Pages.Admin.Dashboard;
}

@section Styles
{
	<link rel="stylesheet" href="~/css/admin/dashboard.css" />
}

<section class="page-wrapper flex-column">
	<h1 class="title">@ViewData["Title"]</h1>

	<section class="dashboard-section section-users flex-column">
		<h3 class="heading">Потребители</h3>

		<div class="statistics flex-row">
			<div class="flex-column">
				<p class="subheading">Регистрирани потребители:</p>
				<span class="notice flex-row">
					<i class="fa-solid fa-circle-info"></i>
					Всички потребители
				</span>
				<div class="statistics-container users-count">
					<span><strong>@Model.UsersCount</strong></span>
				</div>
			</div>
			<div class="flex-column">
				<p class="subheading">Активни потребители:</p>
				<span class="notice flex-row">
					<i class="fa-solid fa-circle-info"></i>
					През последните @UsersActivityForPeriod дни
				</span>
				<div class="statistics-container active-users-count">
					<span><strong>@Model.ActiveUsersCount</strong></span>
				</div>
			</div>
			<div class="flex-column">
				<p class="subheading">Нови потребители:</p>
				<span class="notice flex-row">
					<i class="fa-solid fa-circle-info"></i>
					За последните @UsersActivityForPeriod дни
				</span>
				<div class="statistics-container new-users-count">
					<span><strong>@Model.NewUsersCount</strong></span>
				</div>
			</div>
		</div>
	</section>

	<section class="dashboard-section section-products flex-column">
		<div class="title-box flex-row">
			<h3 class="heading">Топ продукти</h3>
			<a class="btn link flex-row" asp-area="Admin" asp-controller="AdminProduct" asp-action="ProductsList">Към управление на продуктите <i class="fa-solid fa-arrow-right"></i></a>
		</div>
		<table class="products-table table">
			<thead>
			<tr>
				<th>Продукт</th>
				<th class="likes-column">Харесвания</th>
				<th class="sold-column">Продадени</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var product in Model.ProductsList)
			{
				<tr>
					<td><a class="link active" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></td>
					<td class="likes-column">@product.LikesCount</td>
					<td class="sold-column">@product.SoldCount</td>
				</tr>
			}
			</tbody>
		</table>
	</section>
</section>


@section Scripts
{
	<script src="~/js/loader.js"></script>
}