@using MHAuthorWebsite.Web.ViewModels.Product
@using static MHAuthorWebsite.GCommon.ApplicationRules.Pagination
@using MHAuthorWebsite.GCommon
@model ICollection<ProductCardViewModel>

@section Styles {
	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.3/dist/sweetalert2.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/store.css" asp-append-version="true" />
}

@{
	ViewData["Title"] = "Магазин";
	int currentPage = int.TryParse(Context.Request.Query["page"].ToString(), out int page) ? page : 1;
	int productsCount = ViewBag.ProductsCount ?? Model.Count;
	int totalPages = (int)Math.Ceiling((double)productsCount / PageSize);

	string orderType = Context.Request.Query["orderType"].ToString();
	SelectList selectItems = new(
		ApplicationRules.SortTypes.DisplayNames.Select(kvp =>
			new SelectListItem(kvp.Value, kvp.Key)),
		"Value",
		"Text",
		orderType);
}

<section class="page-wrapper flex-column">
	<h1 class="title">Магазин</h1>

	@if (productsCount > 0)
	{
		<div class="shop-action-btns flex-row">
			<div class="shop-action-btn flex-row">
				<label>Подреди по:</label>
				<select id="order-by-select" autocomplete="off" name="orderType" asp-items="@selectItems"></select>
			</div>
		</div>
	}

	<section class="products">
		@if (productsCount > 0)
		{
			@foreach (var product in Model)
			{
				<div class="product flex-column clickable" data-details-url="@Url.Action("Details", "Product", new { productId = product.Id })">
					<div class="product-image-container flex-row">
						<img class="product-image" src="@product.ImageUrl" alt="@(product.ImageAlt ?? product.Name)" />
					</div>
					<div class="product-title-container">
						<h4 class="product-title"><a data-trigger="load-unlimited" class="name" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h4>
						<span class="text-faded">@product.ProductType</span>
					</div>
					<div class="price-box flex-column">
						<p class="price">@product.Price.ToString("F2") лв.</p>
						<span class="price-text @(product.IsAvailable ? "available" : "unavailable")">@(product.IsAvailable ? "В наличност" : "Изчерпана наличност")</span>
					</div>
					<div class="action-btns flex-row">
						<button data-role="remove-item" data-item-id="@product.Id" class="btn like @(product.IsLiked ? "liked" : "")">
							<span class="fa-stack">
								<i class="fa-regular fa-heart fa-stack-2x"></i>
								<i class="fa-solid fa-heart fa-stack-2x"></i>
							</span>
						</button>
						<input id="quantity" type="hidden" name="quantity" value="1" />
						<button data-role="add-to-cart" data-item-id="@product.Id" class="btn order flex-row" @(product.IsAvailable ? "" : "disabled")>
							<i class="fa-solid fa-cart-shopping-fast"></i> Поръчай
						</button>
					</div>
				</div>
			}
		}
		else
		{
			<p class="no-products-message">В момента не се предлагат никакви продукти.</p>
		}
	</section>

	@if (totalPages > 1)
	{
		<div class="pagination-box flex-row">
			<ul role="list" class="pagination-btns flex-row">
				@{
					int firstPage = Math.Max(1, currentPage - 1);
					int lastPage = Math.Min(totalPages, firstPage + 2);

					firstPage = Math.Max(1, lastPage - 2);
				}
				@if (currentPage != firstPage)
				{
					<li title="Предишна страница" class="pagination-btn">
						<a asp-controller="Product" asp-action="AllProducts" asp-route-page="@(currentPage - 1)" class="link"><i class="fa-solid fa-arrow-left"></i></a>
					</li>
				}
				@for (int i = firstPage; i <= lastPage; i++)
				{
					<li class="pagination-btn">

						@{
							var i1 = i;
						}

						<a asp-controller="Product" asp-action="AllProducts" asp-route-page="@i1" class="link @(i1 == currentPage ? "current" : "")">@i1</a>
					</li>
				}
				@if (currentPage != totalPages)
				{
					<li title="Следваща страница" class="pagination-btn">
						<a asp-controller="Product" asp-action="AllProducts" asp-route-page="@(currentPage + 1)" class="link"><i class="fa-solid fa-arrow-right"></i></a>
					</li>
				}
			</ul>
		</div>
	}
</section>

@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>
	<script type="module" src="~/js/notification.js" asp-append-version="true"></script>
	<script src="~/js/click.js" asp-append-version="true"></script>
	<script type="module" src="~/js/store.js" asp-append-version="true"></script>
	<script type="module" src="~/js/add-to-cart.js" asp-append-version="true"></script>
}