@using MHAuthorWebsite.Web.ViewModels.Product
@model IEnumerable<ProductCardViewModel>

@section Styles {
	<link rel="stylesheet" href="~/css/store.css" />
}

@{
	ViewData["Title"] = "Магазин";
}

<section class="container flex-column">
	<h1 class="title">Магазин</h1>

	<section class="products">
		@foreach (var product in Model)
		{
			<div class="product flex-column" data-details-url="@Url.Action("Details", "Product", new { productId = product.Id })">
				<h4><a class="name" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h4>
				<span class="category">@product.ProductType</span>
				<p class="description">@product.ShortDescription</p>
				<div class="price-box flex-row">
					<p class="price">@product.Price.ToString("F2") лв.</p>
					<span class="price-text @(product.IsAvailable ? "available" : "unavailable")">@(product.IsAvailable ? "В наличност" : "Изчерпана наличност")</span>
				</div>
				<div class="action-btns flex-row">
					<form asp-controller="Product" asp-action="Like" asp-route-id="@product.Id">
						<button type="submit" class="btn like">
							<span class="fa-stack">
								<i class="fa-regular fa-heart fa-stack-2x"></i>
								<i class="fa-solid fa-heart fa-stack-2x"></i>
							</span>
						</button>
					</form>
					<form asp-controller="Product" asp-action="Order" asp-route-id="@product.Id">
						<input type="hidden" name="quanity" value="1" />
						<button type="submit" class="btn order flex-row"><i class="fa-solid fa-cart-shopping-fast"></i> Купи</button>
					</form>
				</div>
			</div>
		}
	</section>
</section>

@section Scripts {
	<script src="~/js/store.js"></script>
}