@using MHAuthorWebsite.Web.ViewModels.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Ganss.Xss
@using System.Net

@model ProductDetailsViewModel

@{
	ViewData["Title"] = @Model.Name;

	string rawHtml = WebUtility.HtmlDecode(Model.Description);
	HtmlSanitizer sanitizer = new();
	string cleanHtml = sanitizer.Sanitize(rawHtml);
}

@section Styles {
	<link rel="stylesheet" href="~/css/product-details.css" />
}

<section class="wrapper flex-column">
	<section class="hero-info flex-row">
		<section class="main-info flex-column">
			<h1 class="title">@Model.Name</h1>
			<p class="category text-faded"><strong>Категория:</strong> @Model.ProductTypeName</p>
		</section>

		<!-- Pricing & Order Section -->
		<section class="order-info flex-column">
			<h4 class="heading">Наличност и поръчка</h4>
			<p><strong>Цена:</strong> @Model.Price лв.</p>
			<p class="price-text @(Model.IsInStock ? "available" : "unavailable")">@(Model.IsInStock ? "В наличност" : "Изчерпана наличност")</p>

			<form asp-controller="Product" asp-action="ToggleLike" asp-route-id="@Model.Id">
				<button type="submit" class="btn like @(Model.IsLiked ? "liked" : "")">
					<span class="fa-stack">
						<i class="fa-regular fa-heart fa-stack-2x"></i>
						<i class="fa-solid fa-heart fa-stack-2x"></i>
					</span>
				</button>
			</form>
			<form method="post" asp-controller="Cart" asp-action="Add">
				<input type="hidden" name="productId" value="@Model.Id" />
				<div>
					<label for="quantity">Количество:</label>
					<input class="input" type="number" id="quantity" name="quantity" value="1" min="1" max="10" />
				</div>
				<button type="submit" class="btn order flex-row" @(Model.IsInStock ? "" : "disabled")>
					<i class="fa-solid fa-cart-shopping-fast"></i> Поръчай
				</button>
			</form>
		</section>
	</section>

	<hr />

	<!-- Details Section -->
	<section class="details-info flex-column">
		<h4 class="heading">Информация за продукта</h4>
		<article class="info-article flex-column">
			<h5 class="subheading">Описание:</h5>
			<p id="product-description" class="description">@Html.Raw(cleanHtml)</p>
		</article>
	</section>

	<hr />

	<!-- Additional Attributes Section -->
	@if (Model.Attributes.Any())
	{
		<section class="additional-info flex-column">
			<h4 class="heading">Допълнителна информация</h4>

			<table>
				<tbody>
					@foreach (var a in Model.Attributes)
					{
						<tr>
							<td>@a.Label</td>
							<td>@a.Value</td>
						</tr>
					}
				</tbody>
			</table>
		</section>
	}
</section>
