@using MHAuthorWebsite.Web.ViewModels.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static MHAuthorWebsite.GCommon.EntityConstraints.ProductComment
@using static MHAuthorWebsite.GCommon.ApplicationRules.Roles

@model ProductDetailsViewModel

@{
	ViewData["Title"] = Model.Name;
}

@section Styles {
	<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.3/dist/sweetalert2.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/elements/notification.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/elements/editor.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/elements/stars.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/elements/slider.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/product-details.css" asp-append-version="true" />
}
<div class="page-wrapper">
	<section class="main flex-row">
		<section class="hero-info flex-row">
			<section id="slider" class="slider flex-row" data-slides-count="@Model.Images.Count">
				@if (Model.Images.Count > 1)
				{
					<button id="slider__btn--left" class="slider__btn"><i class="fa-solid fa-arrow-left"></i></button>
				}

				<div class="slides flex-row">
					@foreach (ProductDetailsImage image in Model.Images)
					{
						<div class="slide flex-row">
							<div class="slide-content flex-row">
								<img class="product-image" src="@image.ImageUrl" alt="@image.AltText" />
							</div>
						</div>
					}
				</div>

				@if (Model.Images.Count > 1)
				{
					<button id="slider__btn--right" class="slider__btn "><i class="fa-solid fa-arrow-right"></i></button>

					<div id="dots-box" class="dots flex-row"></div>
				}
			</section>
			<section class="product-main-info flex-column">
				<h1 class="title">@Model.Name</h1>
				<p class="text-faded"><strong>Категория:</strong> @Model.ProductTypeName</p>
			</section>
		</section>

		<!-- Pricing & Order Section -->
		<section class="order-info flex-column">
			<h4 class="heading">Наличност и поръчка</h4>
			<p><strong>Цена:</strong> @Model.Price лв.</p>
			<p class="price-text @(Model.IsInStock ? "available" : "unavailable")">@(Model.IsInStock ? "В наличност" : "Изчерпана наличност")</p>

			<input type="hidden" name="productId" value="@Model.Id" />
			<div class="quantity">
				<label for="quantity">Количество:</label>
				<input class="input" type="number" id="quantity" name="quantity" value="1" min="1" max="10" />
			</div>
			<div class="order-btns flex-row">
				<button type="button" id="like-button" data-product-id="@Model.Id" class="btn like @(Model.IsLiked ? "liked" : "")">
					<span class="fa-stack">
						<i class="fa-regular fa-heart fa-stack-2x"></i>
						<i class="fa-solid fa-heart fa-stack-2x"></i>
					</span>
				</button>
				<button data-role="add-to-cart" data-item-id="@Model.Id" type="button" class="btn order flex-row" @(Model.IsInStock ? "" : "disabled")>
					<i class="fa-solid fa-cart-shopping-fast"></i> Поръчай
				</button>
			</div>
		</section>
	</section>

	<hr />

	<!-- Details Section -->
	<article class="details-info flex-column">
		<h4 class="heading">Информация за продукта</h4>
		<section class="info-article flex-column">
			<h5 class="subheading">Описание:</h5>
			<div id="description-editor" class="form-input"></div>
			<input type="hidden" asp-for="Description" id="descriptionInput" />
		</section>
	</article>

	<hr />

	<!-- Additional Attributes Section -->
	@if (Model.Attributes.Any(a => a.Value != null))
	{
		<section class="additional-info flex-column">
			<h4 class="heading">Допълнителна информация</h4>

			<table>
				<tbody>
				@foreach (ProductAttributeDetailsViewModel a in Model.Attributes.Where(a => a.Value != null))
				{
					<tr>
						<td>@a.Label</td>
						<td>@a.Value</td>
					</tr>
				}
				</tbody>
			</table>
		</section>

		<hr />
	}

	<!-- Comments Section -->
	<article class="comments-info flex-column">
		<h4 class="heading">Коментари</h4>

		@if (Model.Comments.Any())
		{
			decimal average = (decimal)Model.Comments
				.Average(c => c.Rating);

			int baseCommentsCount = Model.Comments.Count();

			<section class="comments-overview flex-row">
				<div class="flex-column">
					<p class="average-rating">@average.ToString("F1") / @RatingMaxValue.ToString("F1")</p>
					@await Html.PartialAsync("_Stars", (average, RatingMaxValue))
					<span class="ratings-count">@baseCommentsCount @(baseCommentsCount > 1 ? "ревюта" : "ревю")</span>
				</div>

				<div id="rating-stats" class="rating-stats flex-column" data-count="@baseCommentsCount">
					@for (int i = RatingMaxValue; i >= 1; i--)
					{
						int count = Model.Comments.Count(c => c.Rating == i);
						<div class="rating-bar flex-row" data-count="@count">
							<span class="rating-label flex-row"><span>@i</span> <i class="fa-solid fa-star star-icon"></i></span>
							<div class="bar-container">
								<div class="bar-fill"></div>
							</div>
							<span>(@(count))</span>
						</div>
					}
				</div>

				@if (User.IsInRole(AdminRoleName))
				{
					<a class="btn link flex-row disabled" tabindex="-1" aria-disabled="true" tabindex="-1">
						<i class="fa-solid fa-feather"></i> Напиши ревю
					</a>
				}
				else
				{
					<a class="btn link flex-row" asp-controller="ProductComment" asp-action="AddComment"
					   asp-route-productId="@Model.Id" asp-route-targetName="@Model.Name">
						<i class="fa-solid fa-feather"></i> Напиши ревю
					</a>
				}
			</section>

			<hr class="comment-section-divider"/>

			@await Html.PartialAsync("~/Views/ProductComment/_ProductComments.cshtml", Model.Comments)
		}
		else
		{
			<section class="no-comments-section flex-column">
				<div class="message flex-row">
					<i class="fa-solid fa-face-pensive"></i>
					<p>Все още няма коментари за този продукт. Бъди първия написал ревю!</p>
				</div>
				@if (User.IsInRole(AdminRoleName))
				{
					<a class="btn link flex-row disabled" tabindex="-1" aria-disabled="true" tabindex="-1">
						<i class="fa-solid fa-feather"></i> Напиши ревю
					</a>
				}
				else
				{
					<a class="btn link flex-row" asp-controller="ProductComment" asp-action="AddComment"
					   asp-route-productId="@Model.Id" asp-route-targetName="@Model.Name">
						<i class="fa-solid fa-feather"></i> Напиши ревю
					</a>
				}
			</section>
		}
	</article>

	<form class="hidden">@Html.AntiForgeryToken()</form>
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
	<script type="module" src="~/js/notification.js" asp-append-version="true"></script>
	<script type="module" src="~/js/elements/stars.js" asp-append-version="true"></script>
	<script type="module" src="~/js/elements/slider.js" asp-append-version="true"></script>
	<script type="module" src="~/js/product-details.js" asp-append-version="true"></script>
	<script type="module" src="~/js/add-to-cart.js" asp-append-version="true"></script>
}