@using MHAuthorWebsite.Web.ViewModels.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model ProductDetailsViewModel

@{
	ViewData["Title"] = Model.Name;
}

@section Styles {
	<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
	<link rel="stylesheet" href="~/css/editor.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/product-details.css" asp-append-version="true" />
}
<div class="page-wrapper">
	<section class="main flex-row">
		<section class="hero-info flex-row">
			<section id="images-container" class="slider flex-row" data-images-count="@Model.Images.Count">
				@foreach (ProductDetailsImage image in Model.Images)
				{
					<div class="slide flex-row">
						<img class="product-image" src="@image.ImageUrl" alt="@(image.AltText ?? Model.Name)" />
					</div>
				}
				@if (Model.Images.Count > 1)
				{
					<button id="slider__btn--left" class="slider__btn"><i class="fa-solid fa-arrow-left"></i></button>
					<button id="slider__btn--right" class="slider__btn "><i class="fa-solid fa-arrow-right"></i></button>
					<div id="dots-box" class="dots flex-row">
						@for (int i = 1; i <= Model.Images.Count; i++)
						{
							<button class="dots__dot @(i == 1 ? "dots__dot--active" : "")" data-slide="@i"></button>
						}
					</div>
				}
			</section>
			<section class="flex-column">
				<h1 class="title">@Model.Name</h1>
				<p class="text-faded"><strong>Категория:</strong> @Model.ProductTypeName</p>
			</section>
		</section>

		<!-- Pricing & Order Section -->
		<section class="order-info flex-column">
			<h4 class="heading">Наличност и поръчка</h4>
			<p><strong>Цена:</strong> @Model.Price лв.</p>
			<p class="price-text @(Model.IsInStock ? "available" : "unavailable")">@(Model.IsInStock ? "В наличност" : "Изчерпана наличност")</p>

			<form id="like-form" asp-controller="Product" asp-action="ToggleLike" asp-route-id="@Model.Id" class="hidden"></form>
			<form method="post" asp-controller="Cart" asp-action="Add">
				<input type="hidden" name="productId" value="@Model.Id" />
				<div class="quantity">
					<label for="quantity">Количество:</label>
					<input class="input" type="number" id="quantity" name="quantity" value="1" min="1" max="10" />
				</div>
				<div class="flex-row">
				<button form="like-form" type="submit" class="btn like @(Model.IsLiked ? "liked" : "")">
					<span class="fa-stack">
						<i class="fa-regular fa-heart fa-stack-2x"></i>
						<i class="fa-solid fa-heart fa-stack-2x"></i>
					</span>
				</button>
				<button type="submit" class="btn order flex-row" @(Model.IsInStock ? "" : "disabled")>
					<i class="fa-solid fa-cart-shopping-fast"></i> Поръчай
				</button>
				</div>
			</form>
		</section>
	</section>

	<hr />

	<!-- Details Section -->
	<section class="details-info flex-column">
		<h4 class="heading">Информация за продукта</h4>
		<article class="info-article flex-column">
			<h5 class="subheading">Описание:</h5>
			<div id="description-editor" class="form-input"></div>
			<input type="hidden" asp-for="Description" id="descriptionInput" />
		</article>
	</section>

	<hr />

	<!-- Additional Attributes Section -->
	@if (Model.Attributes.Any())
	{
		<section class="additional-info flex-column">
			<h4 class="heading">Допълнителна информация</h4>

			<table>
				<tbody>
					@foreach (var a in Model.Attributes)
					{
						<tr>
							<td>@a.Label</td>
							<td>@a.Value</td>
						</tr>
					}
				</tbody>
			</table>
		</section>
	}
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
	<script type="module" src="~/js/product-details.js" asp-append-version="true"></script>
}