@using MHAuthorWebsite.Web.ViewModels.Product
@model ICollection<LikedProductViewModel>

@{
	ViewBag.Title = "Любими продукти";
}

@section Styles {
	<link rel="stylesheet" href="~/css/liked-products.css" asp-append-version="true" />
}

<div class="page-wrapper flex-column">
	<h1 class="title">Любими продукти</h1>

	<section class="liked-products flex-column">
		@if (Model.Any())
		{
			@foreach (LikedProductViewModel product in Model)
			{
				<div class="product-card flex-row clickable" data-details-url="@Url.Action("Details", "Product", new { productId = product.Id })">
					<div class="product-info flex-row">
						<div class="product-image-container flex-row">
							<img class="product-image" src="@product.ThumbnailUrl" alt="@(product.ThumbnailAlt ?? product.Name)" />
						</div>
						<div>
							<h2><a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="link">@product.Name</a></h2>
							<p class="text-faded">@product.CategoryName</p>
							<p class="price">@product.Price.ToString("F2") лв.</p>
							<span class="price-text @(product.IsInStock ? "available" : "unavailable")">@(product.IsInStock ? "В наличност" : "Изчерпана наличност")</span>
						</div>
					</div>
					<form method="post" asp-controller="Cart" asp-action="Add" class="order-form">
						<input type="hidden" name="productId" value="@product.Id" />
						<input type="hidden" name="quantity" value="1" />
						<button type="submit" class="btn order flex-row" @(product.IsInStock ? "" : "disabled")>
							<i class="fa-solid fa-cart-shopping-fast"></i> Поръчай
						</button>
					</form>
					<form asp-controller="Product" asp-action="ToggleLike" asp-route-id="@product.Id" method="post" class="remove">
						<button type="submit" class="btn remove btn-none"><i class="fa-solid fa-trash-can"></i></button>
					</form>
				</div>
				<hr />
			}
		}
		else
		{
			<p class="zero-liked flex-column"><i class="fa-solid fa-heart-circle-xmark"></i> Все още не сте харесали продукт!</p>
		}
	</section>
</div>

@section Scripts {
	<script src="~/js/click.js" asp-append-version="true"></script>
}