@{
	string currentPage = ViewData["CurrentPage"]?.ToString() ?? "";
}

<!DOCTYPE html>
<html lang="bg">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Миглена Хаджипенчева</title>
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css" />
	<link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/admin/common.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/elements/loader.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/admin/layout.css" asp-append-version="true" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<div id="loading-screen" class="show">
		<span id="loader"></span>
	</div>

	<main role="main">
		<nav class="admin-nav flex-column">
			<ul class="nav-elements flex-column">
				<li data-url="@Url.Action("Index", "Home")" class="nav-element clickable flex-row">
					<i class="fa-regular fa-house-chimney"></i>
					<p class="flex-row">Към потребителския интерфейс</p>
				</li>
			</ul>
			<ul class="nav-elements flex-column">
				<li data-url="@Url.Action("Dashboard", "AdminDashboard")" class="nav-element clickable flex-row @(currentPage == Pages.Admin.Dashboard ? "current" : "")">
					<i class="fa-regular fa-chart-line"></i>
					<p class="flex-row">Табло</p>
				</li>
				<li data-url="@Url.Action("ProductsList", "AdminProduct")" class="nav-element clickable flex-row @(currentPage == Pages.Admin.AllProducts ? "current" : "")">
					<i class="fa-regular fa-shelves"></i>
					<p class="flex-row">Управление на продуктите</p>
				</li>
				<li data-url="@Url.Action("AddProductType", "AdminProductType")" class="nav-element clickable flex-row @(currentPage == Pages.Admin.AddProductType ? "current" : "")">
					<i class="fa-regular fa-icons"></i>
					<p class="flex-row">Добавяне на категория</p>
				</li>
				<li data-url="@Url.Action("AllOrders", "AdminOrder")" class="nav-element clickable flex-row @(currentPage == Pages.Admin.AllOrders ? "current" : "")">
					<i class="fa-regular fa-pallet-boxes"></i>
					<p class="flex-row">Поръчки</p>
				</li>
			</ul>
			<ul class="nav-elements flex-column"></ul>
		</nav>
		@RenderBody()
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/loader.js" asp-append-version="true"></script>
	<script src="~/js/click.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
