@page
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MHAuthorWebsite.Web.Utils
@model ExternalLoginsModel
@{
	ViewData["Heading"] = "Външни акаунти";
	ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

@section Styles
{
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
}

<section class="content-body flex-column">
	@if (Model.CurrentLogins?.Count > 0)
	{
		<h4>Вашите външни акаунти</h4>
		<div class="flex-column">
			@foreach (UserLoginInfo login in Model.CurrentLogins)
			{
				<div class="flex-row">

					<img src="@Url.Content(OAuthProviderMapper.ProviderIcons.TryGetValue(login.LoginProvider, out string? path) ? path : "")" alt="" class="icon small" />
					<h4 id="@($"login-provider-{login.LoginProvider}")">@login.ProviderDisplayName</h4>

					@if (Model.ShowRemoveButton)
					{
						<i class="fa-solid fa-arrow-right"></i>

						<form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
							<div>
								<input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
								<input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
								<button type="submit" class="btn flex-row" title="Премахнете @login.ProviderDisplayName входа от вашия акаунт">
									<i class="fa-solid fa-xmark"></i>
									Премахнете
								</button>
							</div>
						</form>
					}
				</div>
			}
		</div>
	}
	@if (Model.OtherLogins?.Count > 0)
	{
		<h4>Добавете друга услуга за вход.</h4>
		<form id="link-login-form" asp-page-handler="LinkLogin" method="post">
			<div id="socialLoginList" class="flex-row">
				@foreach (AuthenticationScheme provider in Model.OtherLogins)
				{
					string iconPath = OAuthProviderMapper.ProviderIcons.TryGetValue(provider.Name, out string? path)
					? path
					: "";

					<button type="submit" class="btn submit-btn @(string.IsNullOrEmpty(iconPath) ? "" : "btn-none") flex-row" name="provider" value="@provider.Name" title="Влез в системата с @provider.DisplayName акаунт">
						<img src="@Url.Content(iconPath)" alt="" class="icon" />
						@(iconPath == string.Empty ? provider.DisplayName : "")
					</button>
				}
			</div>
		</form>
	}

	<i class="fa-solid fa-arrow-up-right-from-square background-icon"></i>
</section>