@using MHAuthorWebsite.Web.ViewModels.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MHAuthorWebsite.Web.Utils
@using System.Net
@using Ganss.Xss
@model EditProductFormViewModel


@{
	ViewData["Title"] = "Редактирай продукт";

	string rawHtml = WebUtility.HtmlDecode(Model.Description);
	HtmlSanitizer sanitizer = new();
	string cleanHtml = sanitizer.Sanitize(rawHtml);
}

@section Styles {
	<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
}

<div class="page-wrapper flex-column">
	<section class="modal-invisible large flex-column">
		<h1 class="title">@ViewData["Title"]</h1>

		<form class="input-form flex-column" asp-area="Admin" asp-controller="AdminProduct" asp-action="EditProduct" asp-route-productId="@Model.Id" id="updateProductForm" method="post">
			<input type="hidden" asp-for="Id" />
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Name">Име:</label>
				<input class="form-input" asp-for="Name" />
				<span class="input-error" asp-validation-for="Name" ></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Description">Описание:</label>
				<div id="description-editor" class="form-input"></div>
				<input type="hidden" asp-for="Description" id="descriptionInput" value="@cleanHtml"/>
				<span class="input-error" asp-validation-for="Description" ></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Price">Цена:</label>
				<input class="form-input" asp-for="Price" type="number" />
				<span class="input-error" asp-validation-for="Price" ></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="StockQuantity">Количество:</label>
				<input class="form-input" asp-for="StockQuantity" type="number" />
				<span class="input-error" asp-validation-for="StockQuantity" ></span>
			</div>
			<div class="form-input-box flex-column select-list">
				<label class="form-label">Категория:</label>
				<p>@Model.ProductTypeName</p>
				<input type="hidden" asp-for="ProductTypeName" value="@Model.ProductTypeName"/>
			</div>

			<div id="productTypeAttributesContainer" class="form-input-box flex-column">
				@foreach (AttributeValueForm a in Model.Attributes)
				{
					string inputType = AttributeDataTypeMapper.HtmlInputTypes[a.DataType];
					string containerClass = AttributeDataTypeMapper.CssContainerClass[a.DataType];

					<div class="form-input-box flex-column @containerClass">
						<label class="form-label">@a.Label:</label>

						<input type="@inputType"
						       name="@a.Value"
						       class="form-input"
						       data-val="true"
						       data-val-required="@(a.IsRequired ? $"Полето \"{a.Label}\" е задължително." : null)"
						       style="-webkit-appearance: textarea"
						       value="@a.Value" />

						<input type="hidden" name="@a.Key" value="@a.Key" />
						<input type="hidden" name="@a.Key" value="@a.Key" />
						<input type="hidden" name="@a.Label" value="@a.Label" />
						<span class="input-error"
						      data-valmsg-for="@a.Value"
						      data-valmsg-replace="true"></span>
					</div>
				}
			</div>

			<button type="submit" class="btn submit-btn flex-row">Запази</button>
		</form>
	</section>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
	<script src="~/js/update-product.js"></script>
}