@using MHAuthorWebsite.Web.ViewModels.Admin.Order
@using MHAuthorWebsite.Data.Models.Enums
@using MHAuthorWebsite.Data.Common.Extensions
@model ICollection<AllOrdersListItemViewModel>

@{
	ViewData["Title"] = "Управление на поръчките";
	ViewData["CurrentPage"] = Pages.Admin.AllOrders;

	string currentStatus = Context.Request.Query["status"].ToString();
}

@section Styles
{
	<link rel="stylesheet" href="~/css/admin/admin-table.css" />
}

<div class="page-wrapper flex-column">
	<h1 class="title">@ViewData["Title"]</h1>

	<form asp-controller="AdminOrder" asp-action="AllOrders" method="get">
		<select id="filter" data-param-name="status" asp-items="@((SelectList)ViewData["StatusList"]!)" name="status" class="btn-top-left"></select>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th>№</th>
				<th class="align-center">Име на клиента</th>
				<th class="align-center">Обща сума</th>
				<th class="align-center">Дата на поръчка</th>
				<th class="align-center">Статус</th>
				<th class="align-end">Действия</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Any())
			{
				@foreach (var order in Model)
				{
					<tr>
						<td>@order.Id</td>
						<td class="align-center">@order.CustomerName</td>
						<td class="align-center"><strong>@order.TotalAmount.ToString("F2") @order.Currency</strong></td>
						<td class="align-center">@order.OrderDate</td>
						<td class="align-center"><strong>@order.Status.GetDisplayName()</strong></td>
						<td class="action-btns flex-row">
							@if (order.Status == OrderStatus.InReview)
							{
								<form method="post" asp-area="Admin" asp-controller="AdminOrder" asp-action="Accept" asp-route-orderId="@order.Id">
									<button class="btn btn-orange flex-row" type="submit">
										<i class="fa-solid fa-memo-circle-check"></i> Приеми
									</button>
								</form>
								<form method="post" asp-area="Admin" asp-controller="AdminOrder" asp-action="Reject" asp-route-orderId="@order.Id">
									<button class="btn btn-red flex-row" type="submit"><i class="fa-solid fa-ban"></i> Отхвърли</button>
								</form>
							}
							else if (order.Status == OrderStatus.Accepted)
							{
								<form method="post" asp-area="Admin" asp-controller="AdminOrder" asp-action="Terminate" asp-route-orderId="@order.Id">
									<button class="btn btn-red flex-row" type="submit"><i class="fa-solid fa-stop"></i> Прекрати</button>
								</form>
							}
							<a class="btn btn-blue link flex-row" asp-area="Admin" asp-controller="AdminOrder" asp-action="OrderDetails" asp-route-orderId="@order.Id">
								<i class="fa-solid fa-memo-circle-info"></i> Детайли
							</a>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="6" class="align-center">
						<h3>Няма намерени резултати!</h3>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	<script src="~/js/filter.js"></script>
}